# Build
build
EVote

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE
.vscode


#Nlohmann embedded config
nlohmann_json/nlohmann_json.pc
nlohmann_json/nlohmann_jsonConfig.cmake
nlohmann_json/nlohmann_jsonConfigVersion.cmake
